*{
  margin: 0;
  padding: 0;
  box-sizing: 0
}
body{
  background-color: #e4d3c3;
  height: 100vh;
 ;
}

.menu{
  max-width: 100vw;
  height: 40px;
  background-color: #7a5b4c;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  box-sizing: 0;
  align-items: center;


}

.menu ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap:8px; 
  align-items: center;

}

.menu a{
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
}


.menu span{
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
 
}
.paragrafo{
  font-size: 20px;
}
main{
  max-width: 900px;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  align-items: center;

  flex-direction: column;


}
main > img {
margin-bottom: 16px;
  width: 600px;
}
minha-imagem> p  {

  max-width: 900px;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  align-items: center;


}

